* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.chessboard {
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1/1;
    margin-top: 50px;
    max-width: 60vh;
    min-width: 60vh;
}

.newGameDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.checkerPlayers {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 500px;
    margin: 100px auto 0px;
    transition: 2s;
    animation-name: players;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.checkerPlayers img {
    width: 77vw;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    aspect-ratio: 6/5;
}

@keyframes players {
    0% {}

    50% {
        transform: translateY(-15px);

    }

    100% {}
}

.cell {
    width: calc(60vh/8);
    height: calc(60vh/8);
}

.cellBlack {
    background-color: rgb(87, 87, 87);
}

.cellWhite {
    background-color: rgb(146, 146, 146);
}


.checkerWhite {
    background: url(../../styles/whiteChecker.png), no-repeat;
    background-color: rgb(87, 87, 87);
    background-size: 100%;
    cursor: pointer;
}

.checkerBlack {
    background: url(../../styles/blackChecker.png), no-repeat;
    background-color: rgb(87, 87, 87);
    background-size: 100%;
    cursor: pointer;
}

.kingBlack {
    background: url(../../styles/blackQueen.png), no-repeat;
    background-color: rgb(87, 87, 87);
    background-size: 100%;
    cursor: pointer;
}

.kingWhite {
    background: url(../../styles/whiteQueen.png), no-repeat;
    background-color: rgb(87, 87, 87);
    background-size: 100%;
    cursor: pointer;
}



.onMove:before {
    content: '';
    display: block;
    background-color: rgb(255, 250, 91);
    width: 27px;
    height: 27px;
    z-index: 5;
    position: relative;
    margin: 33% auto;
    border-radius: 50%;
    box-shadow: 0 0 15px 5px rgb(255, 250, 91);
    animation-name: pulsingYellow;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

#A1.onMove:after,
#B1.onMove:after,
#C1.onMove:after,
#D1.onMove:after,
#E1.onMove:after,
#F1.onMove:after,
#G1.onMove:after,
#H1.onMove:after {
    top: calc(60vh/75);
}

#A1.onMove:after,
#A2.onMove:after,
#A3.onMove:after,
#A4.onMove:after,
#A5.onMove:after,
#A6.onMove:after,
#A7.onMove:after,
#A8.onMove:after {
    top: -6.5vh;
}



@keyframes pulsingYellow {
    0% {
        transform: scale(1.1)
    }

    50% {
        transform: scale(0.8)
    }

    100% {
        transform: scale(1.1);
    }
}

.newGame {
    display: flex;
    font-size: 35px;
    padding: 12px;
    margin-top: 30%;
    color: black;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.blocked:before {
    content: '';
    z-index: 101;
    background-color: rgb(107, 107, 107);
    box-shadow: 0 0 15px 0 rgb(196, 196, 196);

}



#A1:before {
    content: '1';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: calc(80vh/16);
    left: -53%;
    top: 15%;
}

#A2:after {
    content: '2';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: calc(80vh/16);
    left: -53%;
    top: 15%;
}

#A3:after {
    content: '3';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: calc(80vh/16);
    left: -53%;
    top: 15%;
}

#A4:after {
    content: '4';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: calc(80vh/16);
    left: -53%;
    top: 15%;
}

#A5:after {
    content: '5';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: calc(80vh/16);
    left: -53%;
    top: 15%;
}


#A6:after {
    content: '6';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: calc(80vh/16);
    left: -53%;
    top: 15%;
}

#A7:after {
    content: '7';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: calc(80vh/16);
    left: -53%;
    top: 15%;
}

#A8:after {
    content: '8';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: calc(80vh/16);
    left: -53%;
    top: 15%;
}

#A1:after {
    content: 'A';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: calc(80vh/20);
    left: 0;
    top: 108%;
}

#B1:after {
    content: 'B';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: calc(80vh/20);
    left: 33%;
    top: 120%;
}

#C1:after {
    content: 'C';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: calc(80vh/20);
    left: 33%;
    top: 120%;
}

#D1:after {
    content: 'D';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: calc(80vh/20);
    left: 33%;
    top: 120%;
}

#E1:after {
    content: 'E';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: calc(80vh/20);
    left: 33%;
    top: 120%;
}

#F1:after {
    content: 'F';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: calc(80vh/20);
    left: 33%;
    top: 120%;
}

#G1:after {
    content: 'G';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: calc(80vh/20);
    left: 33%;
    top: 120%;
}

#H1:after {
    content: 'H';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: calc(80vh/20);
    left: 33%;
    top: 120%;
}

@media screen and (max-width:878px) {
    .chessboard {
        width: 90%;
    }

    .newGameDiv {
        max-width: 100%;
    }

    .checkerPlayers {
        max-width: 100%;
    }

    .cell {
        width: calc(100%/8);
        height: calc(100%/8);
    }


    .checkerBlack {
        background-size: 100%;
    }

    .checkerWhite {
        background-size: 100%;
    }

    .onMove:before {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #A8:after,
    #A7:after,
    #A6:after,
    #A5:after,
    #A4:after,
    #A3:after,
    #A2:after,
    #A1:before {
        font-size: 40px;
        top: 20%;
    }

    #A1:after {
        font-size: 40px;
        top: 120%;
        left: 6%;
    }

    #B1:after,
    #C1:after,
    #C1:after,
    #D1:after,
    #E1:after,
    #F1:after,
    #G1:after,
    #H1:after {
        font-size: 40px;
        left: 27%;
    }

}



@media screen and (max-width:660px) {

    #A8:after,
    #A7:after,
    #A6:after,
    #A5:after,
    #A4:after,
    #A3:after,
    #A2:after {
        font-size: 30px;
        top: 20%;
    }

    #A1:before {
        font-size: 30px;
        top: 10%;
    }

    #A1:after {
        font-size: 30px;
        top: 120%;
        left: 6%;
    }

    #B1:after,
    #C1:after,
    #C1:after,
    #D1:after,
    #E1:after,
    #F1:after,
    #G1:after,
    #H1:after {
        font-size: 30px;
        left: 27%;
    }

    .onMove:before {
        width: 17px;
        height: 17px;
    }

}

@media (max-width:540px) {

    #A8:after,
    #A7:after,
    #A6:after,
    #A5:after,
    #A4:after,
    #A3:after,
    #A2:after {
        font-size: 25px;
        top: 23%;
    }

    #A1:before {
        font-size: 25px;
        top: 23%;
    }

    #A1:after {
        font-size: 25px;
        top: 120%;
        left: 6%;
    }

    #B1:after,
    #C1:after,
    #C1:after,
    #D1:after,
    #E1:after,
    #F1:after,
    #G1:after,
    #H1:after {
        font-size: 25px;
        left: 27%;
    }

    .onMove:before {
        width: 21px;
        height: 21px;
    }
}

@media screen and (max-width:430px) {

    .checkerPlayers {
        margin: 80px auto -140px;
    }

    #A8:after,
    #A7:after,
    #A6:after,
    #A5:after,
    #A4:after,
    #A3:after,
    #A2:after {
        font-size: 20px;
        top: 23%;
    }

    #A1:before {
        font-size: 20px;
        top: 23%;
    }

    #A1:after {
        font-size: 20px;
        top: 120%;
        left: 6%;
    }

    #B1:after,
    #C1:after,
    #C1:after,
    #D1:after,
    #E1:after,
    #F1:after,
    #G1:after,
    #H1:after {
        font-size: 20px;
        left: 27%;
    }

    .onMove:before {
        width: 19px;
        height: 19px;
    }
}