* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    overflow-y: hidden;
}

.chessboard {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    width: 700px;
    margin: 50px;
    min-width: 700px;
}

.newGameDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.checkerPlayers {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 500px;
    margin: 100px auto;
    transition: 2s;
    animation-name: players;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.checkerPlayers img {
    width: 12vmin;
    height: 7vmin;
    display: block;
    margin: 0 auto;
}

@keyframes players {
    0% {}

    50% {
        transform: translateY(-15px);

    }

    100% {}
}


.checkerPlayers img {
    height: 400px;
    width: 500px;
}

.cell {
    width: 87.5px;
    height: 87.5px;
}

.cellBlack {
    background-color: rgb(87, 87, 87);
}

.cellWhite {
    background-color: rgb(146, 146, 146);
}


.checkerWhite {
    background: url(../../styles/whiteChecker.png), no-repeat;
    background-color: rgb(87, 87, 87);
    background-size: 87.5px;
    cursor: pointer;
}

.checkerBlack {
    background: url(../../styles/blackChecker.png), no-repeat;
    background-color: rgb(87, 87, 87);
    background-size: 87.5px;
    cursor: pointer;
}

.kingBlack {
    background: url(../../styles/blackQueen.png), no-repeat;
    background-color: rgb(87, 87, 87);
    background-size: 87.5px;
    cursor: pointer;
}

.kingWhite {
    background: url(../../styles/whiteQueen.png), no-repeat;
    background-size: 87.5px;
    background-color: rgb(87, 87, 87);
    cursor: pointer;
}



.onMove:before {
    content: '';
    display: block;
    background-color: rgb(255, 250, 91);
    width: 40px;
    height: 40px;
    z-index: 5;
    position: relative;
    margin: 30% auto;
    border-radius: 50%;
    box-shadow: 0 0 15px 5px rgb(255, 250, 91);
    animation-name: pulsingYellow;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}





@keyframes pulsingYellow {
    0% {
        transform: scale(1.1)
    }

    50% {
        transform: scale(0.8)
    }

    100% {
        transform: scale(1.1);
    }
}

.newGame {
    display: flex;
    font-size: 35px;
    padding: 12px;
    color: black;
    margin: 100px auto 100px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.blocked:before {
    content: '';
    z-index: 101;
    background-color: rgb(107, 107, 107);
    box-shadow: 0 0 15px 0 rgb(196, 196, 196);

}



#A1:before {
    content: '1';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 40px;
    left: -33%;
    top: 33%;
}

#A2:after {
    content: '2';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 2.5rem;
    left: -33%;
    top: 33%;
}

#A3:after {
    content: '3';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 40px;
    left: -33%;
    top: 33%;
}

#A4:after {
    content: '4';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 40px;
    left: -33%;
    top: 33%;
}

#A5:after {
    content: '5';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 40px;
    left: -33%;
    top: 33%;
}

#A6:after {
    content: '6';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 40px;
    left: -33%;
    top: 33%;
}

#A7:after {
    content: '7';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 40px;
    left: -33%;
    top: 33%;
}

#A8:after {
    content: '8';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 40px;
    left: -33%;
    top: 33%;
}

#A1:after {
    content: 'A';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 40px;
    left: 13%;
    top: 120%;
}

#B1:after {
    content: 'B';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 40px;
    left: 33%;
    top: 120%;
}

#C1:after {
    content: 'C';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 40px;
    left: 33%;
    top: 120%;
}

#D1:after {
    content: 'D';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 40px;
    left: 33%;
    top: 120%;
}

#E1:after {
    content: 'E';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 40px;
    left: 33%;
    top: 120%;
}

#F1:after {
    content: 'F';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 40px;
    left: 33%;
    top: 120%;
}

#G1:after {
    content: 'G';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 40px;
    left: 33%;
    top: 120%;
}

#H1:after {
    content: 'H';
    color: white;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 40px;
    left: 33%;
    top: 120%;
}

@media screen and (max-width:878px) {
    .kingWhite {
        background-size: 75px;
    }

    .kingBlack {
        background-size: 75px;
    }

    .checkerPlayers img {
        width: 480px;
        height: 370px;
    }

    .checkerPlayers {
        margin-bottom: -10px;
    }

    .newGameDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }

    .newGame {
        font-size: 30px;
    }

    .chessboard {
        width: 600px;
        min-width: 600px;
    }

    .cell {
        width: 75px;
        height: 75px;
    }

    .checkerBlack {
        background-size: 75px;
    }

    .checkerWhite {
        background-size: 75px;
    }

    .onMove:before {
        margin-top: 22px;
        width: 35px;
        height: 35px;
    }

    #A8:after,
    #A7:after,
    #A6:after,
    #A5:after,
    #A4:after,
    #A3:after,
    #A2:after,
    #A1:before {
        font-size: 40px;
        top: 20%;
    }

    #A1:after {
        font-size: 40px;
        top: 120%;
        left: 6%;
    }

    #B1:after,
    #C1:after,
    #C1:after,
    #D1:after,
    #E1:after,
    #F1:after,
    #G1:after,
    #H1:after {
        font-size: 40px;
        left: 27%;
    }

}



@media screen and (max-width:660px) {
    .kingWhite {
        background-size: 62.5px;
    }

    .kingBlack {
        background-size: 62.5px;
    }

    .checkerPlayers img {
        display: block;
        margin: 0 auto;
        width: 400px;
        height: 350px;
    }

    .body {
        overflow: hidden;
    }

    .checkerPlayers {
        margin-top: 40px;
        display: flex;
        padding: 0;

    }

    .chessboard {
        width: 500px;
        min-width: 500px;
    }

    .cell {
        width: 62.5px;
        height: 62.5px;
    }

    .checkerBlack {
        background-size: 62.5px;
    }

    .checkerWhite {
        background-size: 62.5px;
    }

    #A8:after,
    #A7:after,
    #A6:after,
    #A5:after,
    #A4:after,
    #A3:after,
    #A2:after {
        font-size: 30px;
        top: 20%;
    }

    #A1:before {
        font-size: 30px;
        top: 10%;
    }

    #A1:after {
        font-size: 30px;
        top: 120%;
        left: 6%;
    }

    #B1:after,
    #C1:after,
    #C1:after,
    #D1:after,
    #E1:after,
    #F1:after,
    #G1:after,
    #H1:after {
        font-size: 30px;
        left: 27%;
    }

    .onMove:before {
        margin-top: 21px;
        width: 24px;
        height: 24px;
    }

}

@media (max-width:540px) {
    .kingWhite {
        background-size: 50px;
    }

    .kingBlack {
        background-size: 50px;
    }

    .checkerPlayers img {
        margin-left: 15px;
    }

    .checkerPlayers img {
        width: 360px;
        height: 300px;
    }

    .body {
        overflow: hidden;
    }



    .chessboard {
        width: 400px;
        min-width: 400px;
    }

    .cell {
        width: 50px;
        height: 50px;
    }

    .checkerBlack {
        background-size: 50px;
    }

    .checkerWhite {
        background-size: 50px;
    }

    #A8:after,
    #A7:after,
    #A6:after,
    #A5:after,
    #A4:after,
    #A3:after,
    #A2:after {
        font-size: 25px;
        top: 23%;
    }

    #A1:before {
        font-size: 25px;
        top: 23%;
    }

    #A1:after {
        font-size: 25px;
        top: 120%;
        left: 6%;
    }

    #B1:after,
    #C1:after,
    #C1:after,
    #D1:after,
    #E1:after,
    #F1:after,
    #G1:after,
    #H1:after {
        font-size: 25px;
        left: 27%;
    }

    .onMove:before {
        margin-top: 15px;
        width: 21px;
        height: 21px;
    }
}

@media screen and (max-width:430px) {
    .kingWhite {
        background-size: 40px;
    }

    .kingBlack {
        background-size: 40px;
    }

    .chessboard {
        width: 320px;
        min-width: 320px;
    }

    .newGameDiv {
        margin-left: 0;
    }

    .checkerPlayers img {
        width: 280px;
        height: 220px;
        margin-left: 10px;
    }

    .body {
        overflow: hidden;
    }



    .cell {
        width: 40px;
        height: 40px;
    }

    .checkerBlack {
        background-size: 40px;
    }

    .checkerWhite {
        background-size: 40px;
    }

    #A8:after,
    #A7:after,
    #A6:after,
    #A5:after,
    #A4:after,
    #A3:after,
    #A2:after {
        font-size: 20px;
        top: 23%;
    }

    #A1:before {
        font-size: 20px;
        top: 23%;
    }

    #A1:after {
        font-size: 20px;
        top: 120%;
        left: 6%;
    }

    #B1:after,
    #C1:after,
    #C1:after,
    #D1:after,
    #E1:after,
    #F1:after,
    #G1:after,
    #H1:after {
        font-size: 20px;
        left: 27%;
    }

    .onMove:before {
        margin-top: 11px;
        width: 19px;
        height: 19px;
    }
}